{% extends 'Base.html' %}

{% block title %}PDFManager{% endblock title %}

{% block active %}bg-sky-800{% endblock active %}

{% block body %}

{% if user.is_authenticated %}

<div>
  <div class="text-center font-semibold">Uplode PDF Document</div>
  <form action="/Home" method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <table class="mx-auto my-3 py-2">
      <tbody>
        <tr class="my-1">
          <td class=" ">{{fm.title.label }}</td>
          <td class="text-center"> : </td>
          <td class=" ">{{fm.title}}</td>
        </tr>
        <tr class="my-1">
          <td class="">{{fm.subject.label}}</td>
          <td class="text-center"> : </td>
          <td class="">{{fm.subject}}</td>
        </tr>
        <tr class="my-1">
          <td class="">{{fm.pdf_document.label}}</td>
          <td class="text-center"> : </td>
          <td class="">{{fm.pdf_document}}</td>
        </tr>
        <tr class="my-1">
          <td class="">{{fm.date.label}}</td>
          <td class="text-center"> : </td>
          <td class="">{{fm.date}}</td>
        </tr>
        <tr class="my-1">
          <td class="">{{fm.discription.label}}</td>
          <td class="text-center"> : </td>
          <td class="">{{fm.discription}}</td>
        </tr>
        <tr class="my-1">
          <td class=""></td>
          <td class="text-center"><input type="submit" style="margin-top:6px; padding:5px;"
              class="rounded bg-sky-300 hover:bg-sky-400" value="Submit"></td>
          <td class=""></td>
        </tr>

      </tbody>

    </table>

  </form>
</div>

<div class="text-center text-green-600 font-normal">
{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
</div>

{% else %}

<div class="text-center font-thin">
  You need to Signin for uplode pdf or view your pdf.
</div clas="my-2">
<div class="grid grid-cols-3 p-1 place-items-center">
  <div></div>
  <div class="grid grid-cols-2 p-1 place-items-center">
    <div class="">
      <a role="button" class="rounded bg-sky-300 hover:bg-sky-400 p-1 m-1" href="/accounts/signin">Sigin</a>
    </div>
    <div class=""><a role="button" class="rounded bg-sky-300 hover:bg-sky-400 p-1 m-1"
        href="/accounts/signup">Signup</a>
    </div>
  </div>
  <div></div>
</div>

{% endif %}

{% endblock body %}